<!doctype html>
<html>
  <head>
    <title>Isomorphic React with node.js</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel="stylesheet">
  </head>
  <body>

    <div class="container">

      	<h1 id="main-title">Isomorphic React with node.js</h1>

        <br /><br />

        <div id="news-mount"><%- output %></div>

    </div>

  <script type="application/json" id="props"><%- jsonProps %></script>

	<script src="/newsClient.js"></script>

  </body>
</html>